.affiliate_logo {
    margin: auto 8px;
}

.logos {
    margin-top: 8px;
    vertical-align: middle;
    display: inline-block;
    padding: 8px;
    border-radius: 12px;
}

.bioGif {
    border-radius: 50%;
    object-fit: cover;
}

.bioContent {
    line-height: 1.8em;
    margin-top: 16px;
    padding: 8px;
}